<table class="table table-calendar calendar-bordered calendar-striped calendar-hover ">
  <thead>
    <tr>
      <th>日</th>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @cal_jam_old.each do |date, waittime| %>
      <% if i % 7 == 0 %>
        <tr>
      <% end %>
      <td class="calendar">
        <a class="calendar-day" href="/history/<%= @type %>?day=<%= date.day %>&month=<%= date.month %>&year=<%= date.year %>">
          <div class="calendar-date">
            <span><%= date.day %></span>
            <span class="calendar-schedule text-muted"><%= period_to_schedule(@cal_schedule_old[date][:open_period]) %> - <%= period_to_schedule(@cal_schedule_old[date][:close_period]) %></span><br>
          </div>
          <% if waittime <= CALENDAR_BUSY0 %>
            <span class="calendar-waittime btn-sm calendar-busy0">ー</span>
          <% elsif waittime < CALENDAR_BUSY1 %>
            <span class="calendar-waittime btn-sm calendar-busy1"><%= waittime %></span>
          <% elsif waittime < CALENDAR_BUSY2 %>
            <span class="calendar-waittime btn-sm calendar-busy2"><%= waittime %></span>
          <% elsif waittime < CALENDAR_BUSY3 %>
            <span class="calendar-waittime btn-sm calendar-busy3"><%= waittime %></span>
          <% elsif waittime < CALENDAR_BUSY4 %>
            <span class="calendar-waittime btn-sm calendar-busy4"><%= waittime %></span>
          <% elsif waittime < CALENDAR_BUSY5 %>
            <span class="calendar-waittime btn-sm calendar-busy5"><%= waittime %></span>
          <% elsif waittime < CALENDAR_BUSY6 %>
            <span class="calendar-waittime btn-sm calendar-busy6"><%= waittime %></span>
          <% elsif waittime < CALENDAR_BUSY7 %>
            <span class="calendar-waittime btn-sm calendar-busy7"><%= waittime %></span>
          <% else %>
            <span class="calendar-waittime btn-sm calendar-busy8"><%= waittime %></span>
          <% end %>
          <!-- <span class="fa fa-cloud calendar-weather"></span> -->
        </a>
      </td>
      <% if i % 7 == 6 %>
        </tr>
      <% end %>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>
