<div class="row">
  <div class="col-lg-6">
    <ul class="pager-cal">
      <li class="previous">
        <a href="/history/<%= @park %>?month=<%= @date.prev_year.month %>&amp;year=<%= @date.prev_year.year %>">&lt;&lt;</a>
      </li>
      <li class="previous">
        <a href="/history/<%= @park %>?month=<%= @date.prev_month.month %>&amp;year=<%= @date.prev_month.year %>">&lt;</a>
      </li>
      <li>
        <h3 class="calendar-title"><%= @date.year %>年<%= @date.month %>月</h3>
      </li>
      <li class="next">
        <a href="/history/<%= @park %>?month=<%= @date.next_year.month %>&amp;year=<%= @date.next_year.year %>">&gt;&gt;</a>
      </li>
      <li class="next">
        <a href="/history/<%= @park %>?month=<%= @date.next_month.month %>&amp;year=<%= @date.next_month.year %>">&gt;</a>
      </li>
    </ul>
    <table class="table table-calendar calendar-bordered calendar-striped calendar-hover ">
      <thead>
        <tr>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @cal_jam.each do |date, waittime| %>
          <% if i % 7 == 0 %>
            <tr>
          <% end %>
          <td class="calendar">
            <a class="calendar-day" href="/history/<%= @park %>?day=<%= date.day %>&month=<%= date.month %>&year=<%= date.year %>#waittime-detail">
              <div class="calendar-date">
                <span><%= date.day %></span>
                <span class="calendar-schedule"><%= period_to_schedule(@cal_schedule[date][:open_period]) %> - <%= period_to_schedule(@cal_schedule[date][:close_period]) %></span><br>
              </div>
              <% if waittime <= CALENDAR_BUSY0 %>
                <span class="calendar-waittime btn-sm calendar-busy0">ー</span>
              <% elsif waittime < CALENDAR_BUSY1 %>
                <span class="calendar-waittime btn-sm calendar-busy1"><%= waittime %></span>
              <% elsif waittime < CALENDAR_BUSY2 %>
                <span class="calendar-waittime btn-sm calendar-busy2"><%= waittime %></span>
              <% elsif waittime < CALENDAR_BUSY3 %>
                <span class="calendar-waittime btn-sm calendar-busy3"><%= waittime %></span>
              <% elsif waittime < CALENDAR_BUSY4 %>
                <span class="calendar-waittime btn-sm calendar-busy4"><%= waittime %></span>
              <% elsif waittime < CALENDAR_BUSY5 %>
                <span class="calendar-waittime btn-sm calendar-busy5"><%= waittime %></span>
              <% elsif waittime < CALENDAR_BUSY6 %>
                <span class="calendar-waittime btn-sm calendar-busy6"><%= waittime %></span>
              <% elsif waittime < CALENDAR_BUSY7 %>
                <span class="calendar-waittime btn-sm calendar-busy7"><%= waittime %></span>
              <% else %>
                <span class="calendar-waittime btn-sm calendar-busy8"><%= waittime %></span>
              <% end %>
              <!-- <span class="fa fa-cloud calendar-weather"></span> -->
            </a>
          </td>
          <% if i % 7 == 6 %>
            </tr>
          <% end %>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <h3>混雑指数</h3>
    <table class="table">
      <tbody>
        <tr class="calendar-index-busy0">
          <td>-</td>
          <td>情報なし</td>
        </tr>
        <tr class="calendar-index-busy1">
          <td>0 ~ 14</td>
          <td>天国</td>
        </tr>
        <tr class="calendar-index-busy2">
          <td>15 ~ 24</td>
          <td>かなり空いている</td>
        </tr>
        <tr class="calendar-index-busy3">
          <td>25 ~ 34</td>
          <td>空いている</td>
        </tr>
        <tr class="calendar-index-busy4">
          <td>35 ~ 39</td>
          <td>ふつう</td>
        </tr>
        <tr class="calendar-index-busy5">
          <td>40 ~ 49</td>
          <td>少し混んでいる</td>
        </tr>
        <tr class="calendar-index-busy6">
          <td>50 ~ 59</td>
          <td>混んでいる</td>
        </tr>
        <tr class="calendar-index-busy7">
          <td>60 ~ 69</td>
          <td>かなり混んでいる</td>
        </tr>
        <tr class="calendar-index-busy8">
          <td>70 ~</td>
          <td>地獄</td>
        </tr>
      </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <% if rand(2) == 0 %>
            <div style="border:1px solid #000000;background-color:#FFFFFF;width:275px;margin-right:5px;margin-bottom:5px;padding-top:6px;text-align:center;overflow:hidden;float:left;"><table><tr><td><a href="https://hb.afl.rakuten.co.jp/hgc/1570c12a.73e43fa0.1570c12b.33282e50/?pc=http%3A%2F%2Fitem.rakuten.co.jp%2Fkeitai%2F41-8424%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fkeitai%2Fi%2F10791854%2F&scid=af_item_tbl&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjAsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjowfQ%3D%3D" target="_blank" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1570c12a.73e43fa0.1570c12b.33282e50/?me_id=1191345&item_id=10791854&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fkeitai%2Fcabinet%2Fitem%2F41_4%2F41_8424new.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fkeitai%2Fcabinet%2Fitem%2F41_4%2F41_8424new.jpg%3F_ex%3D128x128&s=128x128&t=picttext" border="0" style="margin:2px" alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]" title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a></td><td style="vertical-align:top;width:138px;"><p style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word"><a href="https://hb.afl.rakuten.co.jp/hgc/1570c12a.73e43fa0.1570c12b.33282e50/?pc=http%3A%2F%2Fitem.rakuten.co.jp%2Fkeitai%2F41-8424%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fkeitai%2Fi%2F10791854%2F&scid=af_item_tbl&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjAsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjowfQ%3D%3D" target="_blank" style="word-wrap:break-word;"  >送料無料 iPhone6s iPhone6 iPhone7 ケース ディズニー ...</a><br><span >価格：3240円（税込、送料無料)</span> <span style="color:#BBB">(2017/1/1時点)</span></p></td><tr></table></div>
            <div style="border:1px solid #000000;background-color:#FFFFFF;width:275px;margin:0px;padding-top:6px;text-align:center;overflow:hidden;float:left;"><table><tr><td><a href="https://hb.afl.rakuten.co.jp/hgc/1570c389.149e5e55.1570c38a.0ff3f99b/?pc=http%3A%2F%2Fitem.rakuten.co.jp%2Fajewelry%2Fvwas-6298%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fajewelry%2Fi%2F10081951%2F&scid=af_item_tbl&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjAsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjowfQ%3D%3D" target="_blank" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1570c389.149e5e55.1570c38a.0ff3f99b/?me_id=1192259&item_id=10081951&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fajewelry%2Fcabinet%2Fcddvd-t6%2Fvwas-6298.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fajewelry%2Fcabinet%2Fcddvd-t6%2Fvwas-6298.jpg%3F_ex%3D128x128&s=128x128&t=picttext" border="0" style="margin:2px" alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]" title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a></td><td style="vertical-align:top;width:138px;"><p style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word"><a href="https://hb.afl.rakuten.co.jp/hgc/1570c389.149e5e55.1570c38a.0ff3f99b/?pc=http%3A%2F%2Fitem.rakuten.co.jp%2Fajewelry%2Fvwas-6298%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fajewelry%2Fi%2F10081951%2F&scid=af_item_tbl&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjAsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjowfQ%3D%3D" target="_blank" style="word-wrap:break-word;"  >10％OFF■ディズニー　Blu-ray+DVD【ズートピア MovieNEX】...</a><br><span >価格：3888円（税込、送料別)</span> <span style="color:#BBB">(2017/1/1時点)</span></p></td><tr></table></div>
          <% else %>
            <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=showwin-22&o=9&p=8&l=as1&asins=4062953609&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:142px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=showwin-22&o=9&p=8&l=as1&asins=B01HHZDIWC&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:142px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&nou=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=showwin-22&o=9&p=8&l=as1&m=amazon&f=ifr&ref=tf_til&asins=B01LXOJXFF" style="width:142px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=showwin-22&o=9&p=8&l=as1&asins=B015DUOLGU&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
