<h2>香港ディズニーランド 過去の平均待ち時間</h2>
<hr>
<div class="row">
  <div class="col-lg-6">
    <ul class="pager">
      <li class="previous">
        <%= link_to "<< #{@date.prev_month.month}月", history_hdl_path(year: @date.prev_month.year, month: @date.prev_month.month) %>
      </li>
      <li>
        <h3 style="display: inline"><%= @date.year %>年<%= @date.month %>月</h3>
      </li>
      <li class="next">
        <%= link_to "#{@date.next_month.month}月 >>", history_hdl_path(year: @date.next_month.year, month: @date.next_month.month) %>
      </li>
    </ul>
    <%= render partial: 'calendar' %>
  </div>
  <div class="col-lg-6">
    <ul class="pager">
      <li><h3 style="display: inline"><%= (@date - 1.year).year %>年<%= @date.month %>月</h3></li>
    </ul>
    <%= render partial: 'calendar_old' %>
  </div>
</div>
<h3><%= @date.year %>年<%= @date.month %>月<%= @date.day %>日 待ち時間詳細</h3>
<hr>
<div class="row">
  <table class="table table-waittime-detail table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th width="5%">時間</th>
      <th>ア<br>ニ<br>メ<br>ア<br>カ<br>デ<br>ミ<br>｜</th>
      <th>ア<br>｜<br>ト<br>ア<br>ニ<br>メ</th>
      <th>デ<br>ィ<br>ズ<br>ニ<br>｜<br>鉄<br>道</th>
      <th>ビ<br>｜<br>グ<br>ル</th>
      <th>プ<br>｜<br>さ<br>ん<br>の<br>冒<br>険</th>
      <th>カ<br>ル<br>｜<br>セ<br>ル</th>
      <th>空<br>飛<br>ぶ<br>ダ<br>ン<br>ボ</th>
      <th>フ<br>ェ<br>ア<br>リ<br>｜<br>テ<br>｜<br>ル</th>
      <th>ガ<br>｜<br>デ<br>ン</th>
      <th>ス<br>モ<br>｜<br>ル<br>ワ<br>｜<br>ル<br>ド</th>
      <th>テ<br>ィ<br>｜<br>カ<br>ッ<br>プ</th>
      <th>フ<br>ィ<br>ル<br>ハ<br>｜</th>
      <th>ス<br>ペ<br>｜<br>ス</th>
      <th>バ<br>ズ<br>ラ<br>イ<br>ト<br>イ<br>ヤ<br>｜</th>
      <th>オ<br>｜<br>ビ<br>ト<br>ロ<br>ン</th>
      <th>ス<br>タ<br>｜<br>ウ<br>ォ<br>｜<br>ズ</th>
      <th>オ<br>｜<br>ト<br>ピ<br>ア</th>
      <th>ジ<br>ャ<br>ン<br>グ<br>ル</th>
      <th>い<br>か<br>だ</th>
      <th>ツ<br>リ<br>｜<br>ハ<br>ウ<br>ス</th>
      <th>R<br>C<br>レ<br>｜<br>サ<br>｜</th>
      <th>ス<br>リ<br>ン<br>キ<br>｜</th>
      <th>パ<br>ラ<br>シ<br>ュ<br>｜<br>ト</th>
      <th>ビ<br>ッ<br>グ<br>グ<br>リ<br>ズ<br>リ<br>｜</th>
      <th>ミ<br>ス<br>テ<br>ィ<br>ッ<br>ク<br>マ<br>ナ<br>｜</th>
      <th>平<br>均<br>待<br>ち<br>時<br>間</th>
    </tr>
  </thead>
  <tbody>
    <% @waittimes.each do |_, waittime| %>
      <tr>
        <td><%= waittime['at'].strftime('%H:%M') %></td>
        <% HDL_ATTRACTIONS.each do |att_id| %>
          <% if waittime[att_id].nil? || waittime[att_id] < 0 %>
            <td class="waittime-busy0">-</td>
          <% elsif waittime[att_id] < 10 %>
            <td class="waittime-busy1"><%= waittime[att_id] %></td>
          <% elsif waittime[att_id] < 20 %>
            <td class="waittime-busy2"><%= waittime[att_id] %></td>
          <% elsif waittime[att_id] < 30 %>
            <td class="waittime-busy3"><%= waittime[att_id] %></td>
          <% elsif waittime[att_id] < 60 %>
            <td class="waittime-busy4"><%= waittime[att_id] %></td>
          <% elsif waittime[att_id] < 90 %>
            <td class="waittime-busy5"><%= waittime[att_id] %></td>
          <% elsif waittime[att_id] < 120 %>
            <td class="waittime-busy6"><%= waittime[att_id] %></td>
          <% elsif waittime[att_id] < 170 %>
            <td class="waittime-busy7"><%= waittime[att_id] %></td>
          <% else %>
            <td class="waittime-busy8"><%= waittime[att_id] %></td>
          <% end %>
        <% end %>
        <% ary = waittime.values[1..waittime.values.length].select { |wt| wt >= 0 } %>
        <% avg = ary.inject(0) {|r,i| r += i} / [ary.length, 1].max %>
        <% if avg.nil? || avg < 0 %>
          <td class="waittime-busy0">-</td>
        <% elsif avg < 10 %>
          <td class="waittime-busy1"><%= avg %></td>
        <% elsif avg < 20 %>
          <td class="waittime-busy2"><%= avg %></td>
        <% elsif avg < 30 %>
          <td class="waittime-busy3"><%= avg %></td>
        <% elsif avg < 60 %>
          <td class="waittime-busy4"><%= avg %></td>
        <% elsif avg < 90 %>
          <td class="waittime-busy5"><%= avg %></td>
        <% elsif avg < 120 %>
          <td class="waittime-busy6"><%= avg %></td>
        <% elsif avg < 170 %>
          <td class="waittime-busy7"><%= avg %></td>
        <% else %>
          <td class="waittime-busy8"><%= avg %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
