<h2>上海ディズニーランド 混雑状況</h2>
<hr>
<%= render partial: 'calendar' %>
<h3 id="waittime-detail"><%= @date.year %>年<%= @date.month %>月<%= @date.day %>日 アトラクション待ち時間詳細</h3>
<hr>
<div class="row">
  <div class="col-lg-12 table-responsive">
    <table class="table table-waittime-detail table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th width="5%">時間</th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/roaring-rapids/" class="waittime-header" target="_blank">
            ロ<br>ア<br>リ<br>ン<br>グ<br>ラ<br>ピ<br>ッ<br>ド</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/soaring-over-horizon/" class="waittime-header" target="_blank">
            ソ<br>ア<br>リ<br>ン</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/alice-wonderland-maze/" class="waittime-header" target="_blank">
            ア<br>リ<br>ス<br>メ<br>イ<br>ズ</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/hunny-pot-spin/" class="waittime-header" target="_blank">
            ハ<br>ニ<br>｜<br>ポ<br>ッ<br>ト</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/adventures-winnie-pooh/" class="waittime-header" target="_blank">
            プ<br>｜<br>さ<br>ん<br>の<br>冒<br>険</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/once-upon-time-adventure/" class="waittime-header" target="_blank">
            ワ<br>ン<br>ス<br>ア<br>ポ<br>ン</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/peter-pans-flight/" class="waittime-header" target="_blank">
            ピ<br>｜<br>タ<br>｜<br>パ<br>ン</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/seven-dwarfs-mine-train/" class="waittime-header" target="_blank">
            マ<br>イ<br>ン<br>ト<br>レ<br>イ<br>ン</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/voyage-to-crystal-grotto/" class="waittime-header" target="_blank">
            ク<br>リ<br>ス<br>タ<br>ル<br>グ<br>ロ<br>ッ<br>ト</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/dumbo-flying-elephant/" class="waittime-header" target="_blank">
            空<br>飛<br>ぶ<br>ダ<br>ン<br>ボ</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/fantasia-carousel/" class="waittime-header" target="_blank">
            カ<br>ル<br>｜<br>セ<br>ル</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/buzz-lightyear-planet-rescue/" class="waittime-header" target="_blank">
            バ<br>ズ<br>ラ<br>イ<br>ト<br>イ<br>ヤ<br>｜</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/jet-packs/" class="waittime-header" target="_blank">
            ジ<br>ェ<br>ッ<br>ト<br>パ<br>ッ<br>ク</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/stitch-encounter/" class="waittime-header" target="_blank">
            ス<br>テ<br>ィ<br>ッ<br>チ</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/tron-lightcycle-power-run/" class="waittime-header" target="_blank">
            ト<br>ロ<br>ン</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/explorer-canoes/" class="waittime-header" target="_blank">
            カ<br>ヌ<br>｜</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/pirates-of-caribbean/" class="waittime-header" target="_blank">
            カ<br>リ<br>ブ<br>の<br>海<br>賊</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/shipwreck-shore/" class="waittime-header" target="_blank">
            シ<br>ッ<br>プ<br>レ<br>ッ<br>ク<br>シ<br>ョ<br>ア</a></th>
          <th><a href="https://www.shanghaidisneyresort.com/en/attractions/sirens-revenge/" class="waittime-header" target="_blank">
            セ<br>イ<br>レ<br>｜<br>ン<br>の<br>復<br>習<br>号</a></th>
          <th>平<br>均<br>待<br>ち<br>時<br>間</th>
        </tr>
      </thead>
      <tbody>
        <% @waittimes.each do |_, waittime| %>
          <tr>
            <td><%= period_to_time(waittime['at']).strftime('%H:%M') %></td>
            <% SDL_ATTRACTIONS.each do |att_id| %>
              <%= raw display_waittime(waittime[att_id]) %>
            <% end %>
            <% ary = waittime.values[1..waittime.values.length].select { |wt| wt >= 0 } %>
            <% avg = ary.inject(0) {|r,i| r += i} / [ary.length, 1].max %>
            <%= raw display_waittime(avg) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
