<h2>東京ディズニーランド 過去の混雑指数</h2>
<hr>
<%= render partial: 'calendar' %>
<h3 id="waittime-detail"><%= @date.year %>年<%= @date.month %>月<%= @date.day %>日 待ち時間詳細</h3>
<hr>
<div class="row">
  <div class="col-lg-12 table-responsive">
    <table class="table table-waittime-detail table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th width="5%">時間</th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:al_western/" class="waittime-header" target="_blank">
            リ<br>バ<br>｜<br>鉄<br>道</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:al_carib/" class="waittime-header" target="_blank">
            カ<br>リ<br>ブ<br>の<br>海<br>賊</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:al_jungle/" class="waittime-header" target="_blank">
            ジ<br>ャ<br>ン<br>グ<br>ル</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:wl_mountain/" class="waittime-header" target="_blank">
            ビ<br>ッ<br>グ<br>サ<br>ン<br>ダ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:wl_gallery/" class="waittime-header" target="_blank">
            S<br>ギ<br>ャ<br>ラ<br>リ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:wl_country/" class="waittime-header" target="_blank">
            ベ<br>ア<br>シ<br>ア<br>タ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:wl_mark/" class="waittime-header" target="_blank">
            蒸<br>気<br>船</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:cc_splash/" class="waittime-header" target="_blank">
            ス<br>プ<br>ラ<br>ッ<br>シ<br>ュ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_pooh/" class="waittime-header" target="_blank">
            ハ<br>ニ<br>｜<br>ハ<br>ン<br>ト</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_haunted/" class="waittime-header" target="_blank">
            ホ<br>｜<br>ン<br>テ<br>ッ<br>ド</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_alice/" class="waittime-header" target="_blank">
            ア<br>リ<br>ス</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_small/" class="waittime-header" target="_blank">
            ス<br>モ<br>｜<br>ル<br>ワ<br>｜<br>ル<br>ド</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_castle/" class="waittime-header" target="_blank">
            カ<br>ル<br>｜<br>セ<br>ル</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_cinderella/" class="waittime-header" target="_blank">
            シ<br>ン<br>デ<br>レ<br>ラ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_pinocchio/" class="waittime-header" target="_blank">
            ピ<br>ノ<br>キ<br>オ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_peter/" class="waittime-header" target="_blank">
            ピ<br>｜<br>タ<br>｜<br>パ<br>ン</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_philhar/" class="waittime-header" target="_blank">
            フ<br>ィ<br>ル<br>ハ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_snow/" class="waittime-header" target="_blank">
            白<br>雪<br>姫</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:fl_dumbo/" class="waittime-header" target="_blank">
            空<br>飛<br>ぶ<br>ダ<br>ン<br>ボ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tt_gadget/" class="waittime-header" target="_blank">
            ゴ<br>｜<br>コ<br>｜<br>ス<br>タ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tt_goofy/" class="waittime-header" target="_blank">
            グ<br>｜<br>フ<br>ィ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tt_rabbit/" class="waittime-header" target="_blank">
            カ<br>｜<br>ト<br>ゥ<br>｜<br>ン</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tl_tours/" class="waittime-header" target="_blank">
            ス<br>タ<br>｜<br>ツ<br>ア<br>｜<br>ズ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tl_mountain/" class="waittime-header" target="_blank">
            ス<br>ペ<br>｜<br>ス</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tl_buzz/" class="waittime-header" target="_blank">
            バ<br>ズ<br>ラ<br>イ<br>ト<br>イ<br>ヤ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tl_monster/" class="waittime-header" target="_blank">
            モ<br>ン<br>イ<br>ン</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tl_grand/" class="waittime-header" target="_blank">
            レ<br>｜<br>ス<br>ウ<br>ェ<br>イ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:tl_jets/" class="waittime-header" target="_blank">
            ス<br>タ<br>｜<br>ジ<br>ェ<br>ッ<br>ト</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:stitch/" class="waittime-header" target="_blank">
            ス<br>テ<br>ィ<br>ッ<br>チ</a></th>
          <th>平<br>均<br>待<br>ち<br>時<br>間</th>
        </tr>
      </thead>
      <tbody>
        <% @waittimes.each do |_, waittime| %>
          <tr>
            <td><%= period_to_time(waittime['at']).strftime('%H:%M') %></td>
            <% TDL_ATTRACTIONS.each do |att_id| %>
              <%= raw display_waittime(waittime[att_id]) %>
            <% end %>
            <% ary = waittime.values[1..waittime.values.length].select { |wt| wt >= 0 } %>
            <% avg = ary.inject(0) {|r,i| r += i} / [ary.length, 1].max %>
            <%= raw display_waittime(avg) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
