<h2>東京ディズニーシー 過去の混雑指数</h2>
<hr>
<%= render partial: 'calendar' %>
<h3 id="waittime-detail"><%= @date.year %>年<%= @date.month %>月<%= @date.day %>日 待ち時間詳細</h3>
<hr>
<div class="row">
  <div class="col-lg-12 table-responsive">
    <table class="table table-waittime-detail table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th width="5%">時間</th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:mh_transit/" class="waittime-header" target="_blank">
            船<br>メ<br>デ<br>ィ<br>テ<br>発</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:mh_fortress/" class="waittime-header" target="_blank">
            フ<br>ォ<br>｜<br>ト<br>レ<br>ス</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:mh_gondolas/" class="waittime-header" target="_blank">
            ゴ<br>ン<br>ド<br>ラ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:aw_tot/" class="waittime-header" target="_blank">
            タ<br>ワ<br>テ<br>ラ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:aw_toy/" class="waittime-header" target="_blank">
            ト<br>イ<br>マ<br>ニ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:aw_turtle/" class="waittime-header" target="_blank">
            タ<br>｜<br>ト<br>ル<br>ト<br>｜<br>ク</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:aw_railway/" class="waittime-header" target="_blank">
            鉄<br>道<br>ア<br>メ<br>リ<br>カ<br>発</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:aw_transit/" class="waittime-header" target="_blank">
            船<br>ア<br>メ<br>リ<br>カ<br>発</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:aw_big/" class="waittime-header" target="_blank">
            ヴ<br>ィ<br>｜<br>グ<br>ル</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:mi_center/" class="waittime-header" target="_blank">
            セ<br>ン<br>タ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:mi_20000/" class="waittime-header" target="_blank">
            海<br>底<br>2<br>万<br>マ<br>イ<br>ル</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:pd_aqua/" class="waittime-header" target="_blank">
            ア<br>ク<br>ア<br>ト<br>ピ<br>ア</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:pd_railway/" class="waittime-header" target="_blank">
            鉄<br>道<br>ポ<br>｜<br>ト<br>発</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ld_indiana/" class="waittime-header" target="_blank">
            イ<br>ン<br>デ<br>ィ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ld_raging/" class="waittime-header" target="_blank">
            レ<br>イ<br>ジ<br>ン<br>グ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ld_transit/" class="waittime-header" target="_blank">
            船<br>ロ<br>ス<br>ト<br>発</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ml_theater/" class="waittime-header" target="_blank">
            マ<br>｜<br>メ<br>イ<br>ド</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ml_jelly/" class="waittime-header" target="_blank">
            ジ<br>ャ<br>ン<br>ピ<br>ン</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ml_scuttle/" class="waittime-header" target="_blank">
            ス<br>カ<br>ッ<br>ト<br>ル</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ml_flounder/" class="waittime-header" target="_blank">
            フ<br>ラ<br>ン<br>ダ<br>｜</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ml_balloon/" class="waittime-header" target="_blank">
            バ<br>ル<br>｜<br>ン<br>レ<br>｜<br>ス</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ml_pool/" class="waittime-header" target="_blank">
            ワ<br>｜<br>ル<br>プ<br>｜<br>ル</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ac_magic/" class="waittime-header" target="_blank">
            マ<br>ジ<br>ッ<br>ク<br>ラ<br>ン<br>プ</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ac_caravan/" class="waittime-header" target="_blank">
            カ<br>ル<br>｜<br>セ<br>ル</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ac_sindbad/" class="waittime-header" target="_blank">
            シ<br>ン<br>ド<br>バ<br>ッ<br>ド</a></th>
          <th><a href="http://www.tokyodisneyresort.jp/attraction/detail/str_id:ac_jasmine/" class="waittime-header" target="_blank">
            ジ<br>ャ<br>ス<br>ミ<br>ン</a></th>
          <th>平<br>均<br>待<br>ち<br>時<br>間</th>
        </tr>
      </thead>
      <tbody>
        <% @waittimes.each do |_, waittime| %>
          <tr>
            <td><%= period_to_time(waittime['at']).strftime('%H:%M') %></td>
            <% TDS_ATTRACTIONS.each do |att_id| %>
              <%= raw display_waittime(waittime[att_id]) %>
            <% end %>
            <% ary = waittime.values[1..waittime.values.length].select { |wt| wt >= 0 } %>
            <% avg = ary.inject(0) {|r,i| r += i} / [ary.length, 1].max %>
            <%= raw display_waittime(avg) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
