<!DOCTYPE html>
<html>
<head>
  <title>ディズニー混雑状況</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to '東京ディズニーランド', history_tdl_path %></li>
            <li><%= link_to '東京ディズニーシー', history_tds_path %></li>
            <li><%= link_to '上海ディズニーランド', history_sdl_path %></li>
            <li><%= link_to '香港ディズニーランド', history_hdl_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">English</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

  </div>
</body>
</html>
