<!DOCTYPE html>
<html>
<head>
  <title>ディズニー混雑状況</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@showwin" />
  <meta name="twitter:title" content="ディズニー混雑状況" />
  <meta name="twitter:description" content="2016年6月にオープンした上海ディズニーランドを含む、アジア圏4つのディズニーランドの混雑状況を確認しよう" />
  <meta name="twitter:image" content="https://raw.githubusercontent.com/showwin/DisneyWT/master/public/sample.png" />
  <meta name="twitter:url" content="http://disney.showwin.asia/" />
</head>
<body>
  <div class="container">
    <header>
    	<nav class="navbar navbar-default">
        <div class="container-fluid">
      		<ul class="nav navbar-nav">
      			<li><%= link_to '東京ディズニーランド', history_tdl_path %></li>
            <li><%= link_to '東京ディズニーシー', history_tds_path %></li>
            <li><%= link_to '上海ディズニーランド', history_sdl_path %></li>
            <li><%= link_to '香港ディズニーランド', history_hdl_path %></li>
      		</ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">English</a></li>
          </ul>
        </div>
    	</nav>
    </header>

    <%= yield %>

    <footer>
      <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <p>Created by <a href="https://twitter.com/showwin" target="_blank">@showwin</a>. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
  <script>
  	jQuery(document).ready(function () {
  	    jQuery('header nav').meanmenu();
  	});
  </script>
</body>
</html>
